---
layout: content
title: Blog
---

{% for post in site.posts %}

	{% if forloop.index == 1 %}
		{% assign class = 'container post' %}
	{% else %}
	   {% assign class = 'container post separator' %}
	{% endif %}

	<div class="{{ class }}">
	  <div class="post">
        <p class="title">
          <a href="{{ post.url }}" title="{{ post.content | strip_html | escape | truncatewords: 80 }}">{{ post.title }}</a>
          <span class="timestamp">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time>
          </span>
        </p>
      </div>
	</div>
{% endfor %}
