---
---

=debug
  border: 1px dotted blue

=slim
  margin: 0
  padding: 0

=border-radius($radius)
  :border-radius $radius
  :-webkit-border-radius $radius
  :-moz-border-radius $radius
  :-ms-border-radius $radius

=filter-drop-shadow($args)
  :filter drop-shadow($args)
  :-webkit-filter drop-shadow($args)
  
=display-flex
  :display -webkit-box
  :display -moz-box
  :display -ms-flexbox
  :display -webkit-flex
  :display flex

=flex($args)
  :-webkit-box-flex $args      //* OLD - iOS 6-, Safari 3.1-6 */
  :-moz-box-flex $args         //* OLD - Firefox 19- */
  :-webkit-flex $args          //* Chrome */
  :-ms-flex $args              //* IE 10 */
  :flex $args                  //* 

=flex-flow($args)
  :-webkit-flex-flow $args
  :-ms-flex-flow $args
  :flex-flow $args

=justify-content($args)
  :-webkit-justify-content $args
  :-ms-justify-content $args
  :justify-content $args

=align-items($args)
  :-webkit-align-items $args
  :-ms-align-items $args
  :align-items $args

$medium-breakpoint: 600px

$monospace: "Consolas", "Menlo", "DejaVu Sans Mono", "Monaco", monospace
$lucida-sans: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans-serif

$redwine:   #710000
$lightgray: #5d5d5d
$darkgray:  #1c1c1c



=sitewidth
  @media screen and (min-width: $medium-breakpoint + 1px)
    :width 560px
  @media screen and (min-width: 900px)
    :width 700px
  @media screen and (min-width: 1400px)
    :width 50%
  :min-width 320px




html, body
  +slim
  :background-attachment fixed
  :background-position top

body
  background-color: Black
  background-image: url('/congruent_outline.png')
  :background-repeat repeat
  @media only screen and (min-device-width: 1000px)
    :background-repeat no-repeat
    background-image: url('https://farm5.staticflickr.com/4082/4880605810_0104158039_o_d.jpg')

header.sitewide
  +slim
  :border-top 1px solid $darkgray
  :border-bottom 0.5em solid $lightgray
  :background-color $darkgray
  :box-shadow 0 0 2em rgba(0, 0, 0, 0.7)

  nav
    +sitewidth
    :margin 0 auto
    :padding 1.4em 0 0 0
    +display-flex
    //+align-items(flex-start)
    +flex-flow(row nowrap)
    +justify-content(space-between)

    @media screen and (max-width: $medium-breakpoint)
      :display block
      :padding-bottom 0.5em

    h1
      +slim
      @media screen and (max-width: $medium-breakpoint)
        :padding-left 1em
      a
        +slim
        :color White
        :text-decoration none
        :font-size 43px
        :font-family AlFresco-Bold
        :font-weight normal
        :font-style normal
    ul
      :font 1em $monospace
      :list-style-type none
      :padding 2em 0 0 0
      :margin 0 0 1em 0
      //+flex(1)
      :max-width 18em
      +display-flex
      //+align-items(flex-start)
      +flex-flow(row nowrap)
      +justify-content(space-between)

      @media screen and (max-width: $medium-breakpoint)
        :padding 0 0 0 1.5em
        +flex-flow(row wrap)

      li
        :margin-left 1.6em
        @media screen and (max-width: $medium-breakpoint)
          :margin-left 0

        a
          :text-decoration none
          :margin 0
          :color white
          :padding 0 0 0.3em 0

          @media screen and (max-width: $medium-breakpoint)
            :padding 0.3em 0.6em 0.6em 0.6em

          &:hover
            :color Yellow

        a.active
          :border-bottom 1.5em solid $redwine

          @media screen and (max-width: $medium-breakpoint)
            :border-bottom none
            :color $redwine + #311
            :font-weight bold

#main
  +sitewidth
  :margin 0 auto 4em auto
  :background-color Black
  :background-color rgba(28, 28, 28, 0.95)
  +border-radius(0 0 0.3em 0.3em)
  :box-shadow 0px 0.6em 2em rgba(0, 0, 0, 0.4)

  header.content
    :margin 0
    :padding 4em 2em 1em 2em
    +display-flex
    +align-items(flex-start)
    +flex-flow(row wrap)
    +justify-content(space-between)

    h1
      +slim
      :margin 0 0 0 0
      :font-weight normal
      :text-shadow 1px 1px 4px black
      :color White
      :font 1em $monospace
      :padding-right 0.5em

    p
      +slim
      :color $lightgray
      :font 1em $monospace
      time
        :font-size 0.9em

    p.right
      text-align: right

    @media screen and (max-width: $medium-breakpoint)
      :background-color rgba(255, 255, 255, 0.8)
      h1
        :color Black
        :text-shadow none
        :font-weight bold

  header.sub
    :margin 0 -1em 0 -1em
    :padding 0.6em 0 0.1em 0
    :background-color #333
    :text-align center
    :box-shadow 0px 0.2em 2em rgba(0, 0, 0, 0.9)
    :position relative // for correct shadow
    :border-radius 0.3em

    h2
      :margin 0 0 0 0
      :font 47px Origo
      :font-weight normal
      :font-style normal
      :text-shadow 1px 1px 0.6em Black
      :line-height 1em
      :color #ddd
      :display inline // just a test

    @media screen and (max-width: $medium-breakpoint)
      :height 3em
      :text-align left
      :padding-left 3em
      :margin 0
      :border-radius 0
      h2
        :top -0.2em
        :font-size 2.3em


    
  ul.links
    +display-flex
    +flex-flow(row wrap)
    +justify-content(space-between)
    +align-items(flex-start)
    :margin 0
    :padding 3em 2em 2em 2em
    :text-align center
    :list-style none
    :border-left 1em solid $redwine - #222
    :border-right 1em solid $redwine - #222

    li
      +flex(1)
      +slim
      +display-flex
      +flex-flow(column)
      +align-items(center)
      :min-width 5em

      a
        :text-decoration none
        :color $lightgray
        :font 0.9em $monospace
        :transition color 0.3s ease
        :padding-top 1em

        &:hover
          :color White

      svg
        :height 3em
        :width 5em
        :margin 0 auto
        :padding 1em 0
        :display block
        +filter-drop-shadow(1px 1px 0.5em Black)


      span
        :position relative
        :top -1em
        :text-shadow 1px 1px 4px Black
    
      path, polygon
        :fill $redwine + #320

      &:hover
        path, polygon
          :fill Orange


  ul.links.lighter
    :background-color #483
    :border-left 2em solid $darkgray
    :border-right 2em solid $darkgray

    li a
      :color Black
      svg
        +filter-drop-shadow(0 0 0 Transparent)
        path, polygon
          :fill Black
      span
        :text-shadow 1px 1px 2px Gray

      &:hover
        :font-weight bold

        svg
          +filter-drop-shadow(1px 1px 2em Yellow)
          path, polygon
            :fill Black

    @media screen and (max-width: $medium-breakpoint)
      :border-left 1em solid $redwine
      :border-right 1em solid $redwine


  div.articles
    :margin -1em 0 0 0
    :padding 2em
    :font 1.1em 'Rosario', sans-serif
    :color $lightgray
    a
      :color White
      :text-decoration none
      &:hover
        :color Yellow

    p.lang-link
      :margin-top 2em

  article
    :margin 0 auto
    :padding 2em
    //:font 1em $monospace
    :font 1.1em 'Rosario', sans-serif

    :background-color rgba(255, 255, 255, 0.8)

    p
      :line-height 150%

    //pre
    //  :font-family $monospace

    .nerd-mode
      :margin-top 1em
      a
        :text-decoration none
        :color $redwine
        svg
          path, polygon
            :fill Black
        span
          :position relative
          :top -1em
          :text-decoration underline
        &:hover
          svg
            +filter-drop-shadow(0 0 1em White)
          span
            :text-shadow 0 0 0.5em White
            :color Black
    input, textarea
      :font 1em 'Rosario', sans-serif
      :padding 0.5em



  footer
    :padding 1.5em 1em
    :font 0.9em $monospace
    :color $lightgray
    +display-flex
    +align-items(flex-start)
    +flex-flow(row wrap)
    +justify-content(space-between)

    p
      +slim
      :padding 0.5em 0
      :text-shadow 1px 1px 4px black
      a
        :color White

  @media screen and (max-width: $medium-breakpoint)
    :margin-bottom 0

p
  a
    img
      border: none
