doctype html
// Hello sucker!
html
  head
    meta(charset="utf-8")
    title Jostein Berre Eliassen
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css')
    link(rel="shortcut icon" href=favicon)
    style!= css
    script(type="text/javascript")!= js


  body(style=bg_paisley)
    .wrap.cloud

      .box
        .hover-thing
          .non-hover
            h1
              span Jostein
              span Berre
              span Eliassen
          .hover
            ul.roles.menu
              li.role
                a(href="http://soundcloud.com/jostein-be")
                  i.fa.fa-fw.icon.fa-soundcloud
                .popup
                  h4 Musician
                  p Listen to my Soundcloud
              li.role
                a(href="http://github.com/jbe")
                  i.fa.fa-fw.icon.fa-github
                .popup
                  h4 Brogrammer
                  p Various projects on Github
              li.role
                a(href="http://stackoverflow.com/users/475468/jostein")
                  i.fa.fa-fw.icon.fa-stack-overflow
                .popup
                  h4 Oracle
                  p Questions and answers on StackOverflow
              li.role
                a(href="http://jostein-be.tumblr.com/")
                  i.fa.fa-fw.icon.fa-tumblr
                .popup
                  h4 Tumbleogger
                  p Random impressions..
              li.role
                a(href="https://svusj.wufoo.com/forms/send-jostein-a-message/")
                  i.fa.fa-fw.icon.fa-envelope
                .popup
                  h4 Reachable by mail..
                  p Contact the dude!








