---
layout: default
---


<header class="page content">
  <h1>{{ page.title }}</h1>
</header>
<article>
  {{ content }}

  <form accept-charset="UTF-8" action="{{ page.form_url }}" method="POST">
    <input type="hidden" name="utf8" value="✓">
    <p>
    <input type="email" name="email" placeholder="{{ page.labels.your_email }}">
    <input type="text" name="name" placeholder="{{ page.labels.your_name }}">
    </p>
    <textarea rows="4" cols="50" name="message" placeholder="{{ page.labels.your_message }}"></textarea>
    <p>
    <input type="submit" value="{{ page.labels.submit }}">
    </p>
  </form>

</article>
<footer>
    <p>
      {% assign pages = site.pages | where:"id", page.id | sort: 'path' %}
      {% for p in pages %}
      {% if p.lang != page.lang %}
        &rarr; <a href="{{ p.url }}" class="{{ p.lang }}">{{ site.data.localization[p.lang].page_trans_link[p.lang]}}</a>
      {% endif %}
      {% endfor %}
    </p>
    <p>
      &copy;
      {{ site.time | date: "%Y" }}
      Jostein Berre Eliassen
    </p>

</footer>
