
<!DOCTYPE HTML>

<html>
  <head>
	<meta charset="utf-8" />
    <title>Jostein Berre Eliassen: {{ page.title }}</title>
    <link  href="http://fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular" rel="stylesheet" type="text/css" >
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/syntax.css" />
	<link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="jostein.be - all new posts" />
  </head>
  <body>
    <div id="outer"><div id="wrapper">
      <div id="header">
        <h1><a href="/">Jostein Berre Eliassen</a></h1>
        <p>
          &rarr;
          <a href="/latest.html">Posts</a> &middot;
          <a href="http://dropbox.com/gallery/3580545/1/drawings?h=be8783">Drawings</a> &middot;
          <a href="http://github.com/jbe">Hacking</a> &middot;
          <a href="http://intothenebula.bandcamp.com/">Old music</a> &middot;
        </p>
      </div>

      {{ content }}

      <div id="footer">
        <p>
          &copy; {{ site.time | date: "%Y" }}
          &middot;
          <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Creative Commons by-nc-sa">License</a>
          &middot;
          <a href="http://github.com/jbe/jbe.github.com">Source</a>
          &middot;
          <a href="http://svusj.wufoo.com/forms/send-jostein-a-message/">Contact</a>
        </p>
      </div>
    </div><div id="air"></div></div>
    <div id="bg-fade"></div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8079526-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>


