
<!DOCTYPE HTML>

<html lang="{{ page.lang }}">
  <head>
	<meta charset="utf-8" />

    <title>{% if page.page_title %}{{page.page_title}}{% else %}{{ page.title }}{% endif %}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>

    <script>{% include myfonts-kit.js %}</script>
    <!--[if lt IE 9]>
    <script src="/html5shiv.min.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="jostein.be - all new posts" />
    <!--[if IE]>
    <link rel="stylesheet" href="/ie.css" />
    <![endif]-->
  </head>


  <body>

    <header class="sitewide">
      <nav>
        <h1><a href="/">Jostein Berre Eliassen</a></h1>
        <ul>
            {% assign pages = site.pages | sort: 'menu_order' %}
            {% for p in pages %}
            {% if p.lang == page.lang %}
            {% if p.in_menu == "main" %}
            <li><a href="{{p.url}}" {% if page.id == p.id %} class="active"{% endif %}> {{p.menu_name}}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
      </nav>
    </header>

    <div id="main">
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8079526-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>


