---
layout: default
---


<header class="post content">
  <h1>{{ page.title }}</h1>
  <p>
    &sext;
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
  </p>
</header>
<article>
  {{ content }}
</article>
<footer>
    <p>
      {% assign posts = site.posts | where:"uid", page.uid | sort: 'path' %}
      {% assign has_translation = false %}
      {% for p in posts %}
      {% if p.lang != page.lang %}
        &rarr; <a href="{{ p.url }}" class="{{ p.lang }}">{{ site.data.localization[p.lang].page_trans_link[p.lang]}}</a>
        {% assign has_translation = true %}
      {% endif %}
      {% endfor %}
      {% unless has_translation %}
        &rarr;
        {% if page.lang == "en" %}
          <a href="/" class="no">Norsk hovedside</a>
        {% else %}
          <a href="/english.html" class="en">English front page</a>
        {% endif %}
      {% endunless %}
    </p>
    <p>
      &copy;
      {{ site.time | date: "%Y" }}
      Jostein Berre Eliassen
      &middot;
      {% include contact_link.html %}
</footer>




