---
layout: default
---


<header class="post content">
  <h1>{{ page.title }}</h1>
  <p>
    &middot;
    <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %d, %Y" }}</time>
  </p>
</header>
<article>
  {{ content }}
</article>
<footer>
    <p>
      {% assign posts = site.posts | where:"uid", page.uid | sort: 'path' %}
      {% for p in posts %}
      {% if p.lang != page.lang %}
        &rarr; <a href="{{ p.url }}" class="{{ p.lang }}">{{ site.data.localization[p.lang].page_trans_link[p.lang]}}</a>
      {% endif %}
      {% endfor %}
    </p>
    <p>
      &copy;
      {{ site.time | date: "%Y" }}
      Jostein Berre Eliassen
      &middot;
      <a href="http://svusj.wufoo.com/forms/send-jostein-a-message/">{{site.data.localization[page.lang].contact}}</a></p>
</footer>




